language: node_js

os: linux
dist: bionic
node_js:
  - 14
  - 15
  - "stable"

addons:
  apt:
    update: true
    sources:
      - sourceline: 'ppa:mhier/libboost-latest'
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - g++-7
      - libboost-all-dev
      - cmake 
      - pkg-config 
      - libssl-dev 
      - libzmq3-dev 
      - libunbound-dev 
      - libsodium-dev 
      - libunwind8-dev 
      - liblzma-dev 
      - libreadline6-dev 
      - libldns-dev 
      - libexpat1-dev

env:
  - CXX=g++-7 COMPILER=g++-7 BUILD=Debug STANDARD=14

jobs:
  fast_finish: true

services:
  - redis

cache: npm  

before_install:
    - npm install -g npm@latest
    - npm install -g node-gyp

install:
    - npm install
    - cp defaults/config.travis.json config.json

script:
  - npm run test

notifications:
  email: false
